p{
    color: darkblue;
    text-align: center;
    font-size: 35px;
    font-family: 'Lobster', cursive;
}
li{
    color: red;
    text-align: center;
    font-size: 35px;
    font-family: 'Lobster', cursive;
}